.four-0-four-image{
    display: block;
    margin: 60px auto;
    object-fit: cover;
    height: 65vh;
}
.four-0-four-msg{
    text-align: center;
    text-transform: capitalize;
    color: #383838;

}
.four-0-four-msg a{
    color: #383838;
    margin-bottom: 20px;
}