body{
    width: 100%;
    display: block;
    align-items: center;
    background: #f5f5f5;
    font-family: 'roboto' sans-serif;

}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: none;
}.alert-box{
    width: 300px;
    min-height: 150px;
    background:#fff;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    transition: 1s;
    opacity: 0;
    pointer-events: none;

}
.alert-box.show{
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.alert-img{
    display: block;
    margin: 10px auto 20px;
    height: 60px;
}
.alert-msg{
    color: #e24c4b;
    font-size:20px ;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    

}


.logo{
        display: block;
        margin: 20px auto 20px;
        width: 200px;
        height: 150px;
    }

.add-product{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

}
.btn{
    color: white;
    background: #383838;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.add-product-title{
    text-transform: capitalize;
    color: #383838;
}
.no-product-image{
    display: block;
    margin: auto;
}
.no-product-text{
        text-align: center;
        font-weight: 700;
        font-size: medium;
    
}
.product-listing{
    align-items: center;
}